@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eaeded !important;
}
/* .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #cd9042;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
} */
.hidden-span {
  display: none;
  transition: opacity 0.3s ease-in-out;
}

/* .sidebar .hidden-span {
  display: block;
} */
@media (max-width: 767px) {
  .sidebar .hidden-span {
    display: block;
  }
}
@media (min-width: 768px) {
  .sidebar:hover .hidden-span {
    display: block;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
